.todo-card {
  border: 1px solid black;
  margin: 10px 20px;
  padding: 0 10px;
  border-radius: 10px;
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-items-container {
  height: 400px;
  overflow-y: scroll;
}

.todo-add-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.img-delete-todo{
  height: 20px;
  cursor: pointer;
}

.img-edit-todo{
  height: 20px;
  cursor: pointer;
  margin-right: 20px;
}


.input-todo {
  font-size: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  width: 400px;
}

.btn-add-todo {
  font-size: 20px;
  padding: 5px 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}